/**
 * Footer
 */
.footer {
  padding: 2em 3rem;
  background: #241c1c;
  color: #fff;
}

.footer p {
  text-align: center;
}

.footer p.copyright-text {
  font-size: 0.825em;
  text-align: center;
}
